apiVersion: v1
kind: Service
metadata:
  name: tax-calculator-service
  namespace: tax-calculator
spec:
  ports:
  - name: web
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: tax-calculator